<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        
    </head>
    <body>
        <form action="/dashboard" method="POST">
        <div class="addForm">
            URL: <input type="text" name="url" id="url"><br>
            Title: <input type="text" name="title" id="title"> <br>
            Notes: <input type="text" name="notes" id="notes"> <br>
            Tags: <input type="text" name="tags" id="tags"> <br>
            <input type="submit">
        </div>
        </form>
        <h2>Loop</h2>
        
            <% posts.forEach(function(post){ %>
                <div class="linkBox">Title: <%= post.title %> <br>
                URL: <%= post.url %> <br>
                Notes: <%= post.notes %> <br>
                Tags: <%= post.tags %> <br>
                <p> <a href="/posts/<%= post._id %>">More</a> <!-- link directs to show route to view full post -->
                </p>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST"> <!--used method override-->
                    <button>Delete</button>
                </form>
                </div> <br>
          <%  }); %>
        
        
    </body>
    
</html>