<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>
    <body>
        
        <h1 style="text-align: center;">LinkMe</h1>
        
    
        <form action="/dashboard" method="POST">
        <div class="addForm">
            URL: <input type="text" name="url" id="url"><br>
            Title: <input type="text" name="title" id="title"> <br>
            Notes: <input type="text" name="notes" id="notes"> <br>
            Tags: <input type="text" name="tags" id="tags"> <br>
            <input type="submit">
        </div>
    
        </form>
        <!--
        <div class="sortDropdown">
        <label for="sort">Choose a field to sort alphabetically:</label>
        <select id="sort">
            <option value="title">Title</option>
            <option value="test">Test</option>
        </select>
        </div>
        -->
        <h2>Your Saved URLs:</h2>
        
            <% posts.forEach(function(post){ %>
                <div class="linkBox">Title: <%= post.title %> <br>
                URL: <%= post.url %> <br>
                Notes: <%= post.notes %> <br>
                Tags: <%= post.tags %> <br>
                <p> <a href="/posts/<%= post._id %>">More</a> <!-- link directs to show route to view full post -->
                </p>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST"> <!--used method override-->
                    <button>Delete</button>
                </form>
                </div> <br>
          <%  }); %>
        
          <h3><form action="/logout" method="GET">
            Logout here:
            <input type="submit" placeholder="Logout">
        
        </form></h3>
       <!--src="/scripts/sort.js"></script>--> 
    </body>
    
</html>