<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        
    </head>
    <body>
        <div class="addForm">
            URL: <input type="text" id="url"><br>
            Title: <input type="text" id="title"> <br>
            Notes: <input type="text" id="notes"> <br>
            Tags: <input type="text" id="tags"> <br>
            <button type="button" id="addButton">Add</button>
        </div>
        <h2>Loop</h2>
        
            <% users.forEach(function(user){ %>
                <div class="linkBox">Title: <%= user.title %> <br>
                URL: <%= user.url %> <br>
                Notes: <%= user.notes %> <br>
                Tags: <%= user.tags %> <br>
                <p> <a href="/posts/<%= user._id %>">More</a> <!-- link directs to show route to view full post -->
                </p>
                <button type="button" id="deleteButton">Delete</button>
                </div> <br>
          <%  }); %>
        
        <script src="/scripts/post.js"></script>
    </body>
    
</html>